* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  min-height: 100vh;
  max-height: 100%;
  padding: 80px;
}

.routing-container {
  border: 6px solid #6d396b;
  border-radius: 20px;
  padding: 24px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.wave-container {
  display: flex;
  align-items: center;
}

.wave-logo {
  width: 40px;
  margin-right: 15px;
}

.wave {
  color: #12022f;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Roboto';
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
}

@media (max-width: 768px) {
  .bg-container {
    width: 100%;
    padding: 10px;
  }

  .routing-container {
    border: 4px solid #6d396b;
    border-radius: 20px;
    padding: 15px;
  }

  .wave-logo {
    width: 30px;
    margin-right: 6px;
  }

  .wave {
    font-size: 20px;
  }

  .bottom-container {
    padding-top: 160px;
    padding-bottom: 80px;
  }
}
